body{
	margin: 0;
	background-color: black;
}

audio { 
/*		display:none;
*/		}

video {
	position: fixed;
	z-index: -100;
	object-fit: fill;
	left: 30px;
	top: 30px;
}

#myvideo {
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
}

#canvas {
	position: fixed;
	margin-top: 50px;
	margin-left: 30%;
}

.view_0 {
	position: fixed;
	z-index: -100;
	object-fit: fill;
}

.view_f {
	position: fixed;
	z-index: -100;
	object-fit: fill;
	transform: scale(2.2) perspective(400px) rotateX(50deg) translate(0, -25vh);
}

.view_l {
	position: fixed;
	z-index: -100;
	object-fit: fill;
	transform: scaleX(2.85) scaleY(1.35) perspective(800px) rotateZ(-90deg) rotateX(0deg) rotateY(50deg) translate(33vh, 0vw)
}

.view_b {
	position: fixed;
	z-index: -100;
	object-fit: fill;
	transform: scale(2.2) perspective(400px) rotateZ(180deg) rotateX(-51deg) translate(0, 22vh);
}

.view_r {
	position: fixed;
	z-index: -100;
	object-fit: fill;
	transform: scaleX(2.85) scaleY(1.35) perspective(800px) rotateZ(90deg) rotateX(0deg) rotateY(-50deg) translate(-32vh, 0vw)
}

#still {
	position:fixed;
	top:0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	display: none;
	z-index: 1;
}

#pButton2{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height:4vw; 
    width: 4vw;
    /*background-color: blue;*/
    visibility: hidden;
    z-index: 11;
}

#pButton2:hover {
	cursor: pointer;
}

@media only screen and (max-width: 500px) {
#video {display: block;}
#still {display: none;}
#tracktime {display: none;}
#audioplayer {display: none;}
#footer {display: none;}
}

/*-----------------------------------------------*/

#view_f_container {
	position: fixed;
	width: 100%;
    height: 30px;
	bottom: 0;
	left: 0;
	padding-top: 16px;
	background: linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
    text-decoration: underline;
    z-index: 2;
    pointer-events: auto;
}

#view_f_container:hover {
	z-index: 3;
	cursor: -webkit-zoom-in;
    background: linear-gradient(to top, rgba(255,192,203,1) 70%, rgba(255,192,203,0));
}

#view_l_container {
	position: fixed;
	width: 100vh;
    height: 30px;
    padding-top: 16px;
	background: linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
	transform: rotate(90deg);
	top: calc(50vh - 23px);
	left: calc(-50vh + 23px);
	text-decoration: underline;
	z-index: 2;
	pointer-events: auto;
}

#view_l_container:hover {
	z-index: 3;
	cursor: -webkit-zoom-in;
    background: linear-gradient(to top, rgba(255,192,203,1) 70%, rgba(255,192,203,0));
}

#view_b_container {
	position: fixed;
	width: 100%;
    height: 30px;
    padding-top: 8px;
	padding-bottom: 8px;
	top: 0;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
    text-decoration: underline;
    z-index: 2;
    pointer-events: auto;
}

#view_b_container:hover {
	z-index: 3;
	cursor: -webkit-zoom-in;
    background: linear-gradient(to bottom, rgba(255,192,203,1) 70%, rgba(255,192,203,0));
}

#view_r_container {
	position: fixed;
	width: 100vh;
    height: 30px;
    padding-top: 16px;
	background: linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
	transform: rotate(-90deg);
	top: calc(50vh - 23px);
	right: calc(-50vh + 23px);
	text-decoration: underline;
	z-index: 2;
	pointer-events: auto;
}

#view_r_container:hover {
	z-index: 3;
	cursor: -webkit-zoom-in;
    background: linear-gradient(to top, rgba(255,192,203,1) 70%, rgba(255,192,203,0));
}

#view_f_container2 {
	position: fixed;
	width: 100%;
    height: 30px;
	bottom: 0;
	left: 0;
	padding-top: 16px;
	background: linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
    text-decoration: underline;
    z-index: 4;
    visibility: hidden;
}

#view_l_container2 {
	position: fixed;
	width: 100vh;
    height: 30px;
    padding-top: 16px;
	background: linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
	transform: rotate(90deg);
	top: calc(50vh - 23px);
	left: calc(-50vh + 23px);
	text-decoration: underline;
	z-index: 4;
	visibility: hidden;
}

#view_b_container2 {
	position: fixed;
	width: 100%;
    height: 30px;
    padding-top: 8px;
	padding-bottom: 8px;
	top: 0;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
    text-decoration: underline;
    z-index: 4;
    visibility: hidden;
}

#view_r_container2 {
	position: fixed;
	width: 100vh;
    height: 30px;
    padding-top: 16px;
	background: linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
	transform: rotate(-90deg);
	top: calc(50vh - 23px);
	right: calc(-50vh + 23px);
	text-decoration: underline;
	z-index: 4;
	visibility: hidden;
}
/*-----------------------------------------------*/

a:visited {
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

#tracktime {
	position: fixed;
	font: 16px courier, monospace;
	color: white;
	left: 56px;
	bottom: 51px;
}

#dancetitle {
	position: fixed;
	font: 16px courier, monospace;
	right: 20px;
	top: 10px;	
	color: black;	
	z-index: 5;
}

.title {
	font: 16px courier, monospace;
	text-align: center;
}


#audioplayer{
	position: fixed;
	left: 30px;
	top: 55px;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
  	border: none;
  	background-color: rgba(0,0,0,0);
  	z-index: 0;
}

#initialblock {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	visibility: visible;
	z-index: 10;
}

#initialplay{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height:4vw; 
    width: 4vw;
    visibility: visible;
    z-index: 11;
}

#initialplay:hover {
	cursor: pointer;
}

#pButton{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height:4vw; 
    width: 4vw;
    opacity: 0;
    transition: opacity .5s linear;
}

#pButton:hover {
	cursor: pointer;
}

#timeline{
	left: 30px;
    width: calc(100vw - 60px);
    height: 100vh;
    margin-top: -25px;
    background: rgba(0,0,0,0);
    z-index: -900;

}
#playhead{
    width: 1px;
    height: calc(100vh - 60px);
    top: 0;
    background: rgba(255, 255, 255,1);
}
